<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB47ghe0iXejzm-yw0MzAal_ypwn_Nar5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>170764072254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rabbyte.ChattingApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-78de1</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-78de1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170764072254:ios:f599e431e0cc405fdca86f</string>
</dict>
</plist>